a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.question {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
}

.list { 
  list-style: none;
}

.header {
  display: flex;
  padding: 15px;
}

.container-list {
    list-style: none;
    display: flex;
    text-align: right;
}

.container-items {
  width: 70px;
}

.container-items-link {
  color: black;
}

.submit1 {
  background-color: rgb(255, 196, 0);
  border-radius: 15px;
  color: rgb(29, 16, 1);
  border: none;
  width: 70px;
  height: 40px;
}